{% load static %}

<!-- COMMAND + F FOR FAST COMMADN -->
<!-- F1 -> FORMAT DOCUMENT -->

<!DOCTYPE html>
<html lang="en" dir="ltr">  
  <head> 
    {% block head %} <!-- it is used so we can refer to our css file  -->
	<link rel="stylesheet" href="{% static 'website/style.css' %}">
    {% endblock %}
	
	<link rel="shortcut icon" src="https://img.icons8.com/office/16/null/octopus.png" type="image/x-icon">
    <meta charset="utf-8">

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
		</style>
		
	
    <title> do better </title>
    </head>
    <body>



<div class="wrapper">
		<nav>
			<a id='cool' href="{% url 'introduction' %}"> <h2> do better </h2> </a>
			<ul class="links">
				<li><a href="{% url 'introduction' %}"><span class="item1">Introduction</span></a></li>
                <li><a href="{% url 'calendar' %}"><span class="item2">Calendar</span></a></li>
                <li><a href="{% url 'entrielist' %}"><span class="item3">Diary</span></a></li>
                <li><a href="{% url 'tasks' %}"><span class="item4">To do</span></a></li>

                <li>
                    <a href=""><span class="item5"> Your profile</span></a>
                    <ul class="dropdown">
                        <li><a href="{% url 'inputhourlist' %}">Your summary of hours</a></li>
                        <li><a href="">Your progress</a></li>
                        <li class="dropdown-link">
                            <a href="">Apps</a>
                            <ul class="dropdown-2">
                                <li><a href="">Calendar</a></li>
                                <li><a href="">To do</a></li>
                                <li><a href="">Diary</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><span class="item6"> Logout</span></a></li>
                {% else %}
                    <li><a href="{% url 'register' %}"><span class="item7"> Sign up</span></a></li>
                    <li><a href="{% url 'login' %}"><span class="item8"> Log in</span></a></li>
                {% endif %}

			</ul>
		</nav>
	</div>
	    
	

      
          
        
    
  
      

	  
  

      {% block content %} <!-- here our code will be writen from other tempates so when we extend base.html 
        the code from index.html etc will come here  -->
        {% endblock %}


	     