{% extends 'website/header.html' %}

{% load static %}

{% block content %}

{% comment %}   
<div class="intro">
  <span class="text1"> Welcome to</span>
  <span class="text2"> be better</span>
</div> {% endcomment %}



  
<div class="title">
  <img src="{% static 'img/main_img.jpeg'%}" alt="">
  <div class="text-in-img">  <h2> Get your life in order </h1> </div>
  
</div>

<div class="getting-started">
  
  <h2> Getting started </h2>
  <p>  If you came to this website it already means that you want to improve your life with this program you can achive everything you ever dreamt of.
    This is a guide to help you create a habbit of learning and improving by following simple steps and rules.
  </p>

</div>

<div class="three-icons">
      

  <div class="div-content">
    <img class="icons" src="{% static 'img/fact.png' %}" alt="">
   
      <h2> facts </h2>
    
  </div>

  <div class="div-content">
    <img class="icons" src="{% static 'img/improve.png' %}" alt="">
   
      <h2> improvment </h2>
    
  </div>

  <div class="div-content">
    <img class="icons" src="{% static 'img/future.png' %}" alt="">
    
      <h2> future </h2>
   
  </div>
</div>

  <div class="about-the-program">
    
    <div id="about-the-program">
      <div id="maring-top">
      <h2>About the program </h2>
      </div>
      
        
        
       <h3> The program consists of 3 main tools to help you achive your goal mainly: </h3>

        <p>
       
      

        
        - to do so you can set your task cleary and with a certain deadline <br>


        - dairy which helps you monitor your progress and evaluate it <br>
          - callendar which will show you visually what you had done, it helps keep you motivated as visualation of your work is an imporatnt part of the program. <br>
        <br>
        
        The 3 tools work in symbiosis each of then is driven but the other and if implemented corrcly they will guid you to a better life.
        </p>
        <h2>Purpose of the program </h2>
        <p>
          
          The idea of the program is to let you learn without the motivation to pass the exam. If you fufill it's rules you will no longer depend on the teacher to give you the term of the exam to motivate you, rather the habbit will make you consistant in learing so the terms of the exam won't frighten you.
  
  
        </p>

    </div>
    
        <img src="{% static 'img/1st.jpg'%}" alt="">
      

  </div>

   
    

  



    

      

   
  
    


  
        <div class="bento-grid">
          <div class="column-left">

  <article class="row-1" id = "n1">
    <h2>
       Why depending on motivations is a loose end
    </h2>
    <p>
      During moments without a clear sense of purpose—whether during leisurely days, vacations, or unstructured weeks—motivation often wavers, revealing its unreliability.<br><br>
This is its fundamental limitation. It provides a short-lived burst of energy for particular tasks, yet falls short in sustaining progress over time. When it's not present, inertia sets in, impeding any possibility of change.<br><br>
Real progress requires more: consistent discipline, unyielding dedication, and a broad-reaching vision. Cultivate habits that persist beyond the initial burst of motivation. These will form the foundation of a resolute pursuit, turning sporadic inspiration into a steady path of self-improvement.<br><br>
While motivation serves as an initial ignition, it should not be the sole driving force behind personal growth. Embrace it when it's present, but acknowledge its limitations. To truly transform, establish a foundation of habits and discipline, preparing the way for a sustained journey of growth.

    </p>
      
      

      




  </article>

  

</div>
<div class="column-right">
  <article class="row-1" id = "n2">
    <h2>
      Motivation is ilusion... 
       </h2>
    <p>
      -How many times have you said to yourself that from tomorrow you will start to study?
      
      <br>

              -How many times have you said to yourself that from tomorrow you will start to work out?
              <br>
      
       
              -How many times have you said to yourself that from tomorrow you will start a diet?
              <br>
      
      
              -How many times have you said to yourself that from tomorrow you will reduce time you spend on unproductive activities in life?
      
      
    </p>

  </article>

  



  <article class="row-1" id = "n3">
    <h2>
      Short story :(
    </h2>
    <p>
      My biggest mistake was wishing to have a girlfriend in the first place. But non the less here is the story...
      One day I met a girl of my dreams. I knew that working out will help me get her. I was highly motivated until i
      reached my goal. After that i left the gym.
      A few months leter she broke my heart beacouse of my belly.
      The lesson is simple and clear a motivation will pass when u reach your goal but habbit stays with you for life.

    </p>
  </article>

</div>
</div>

<div class="row2">

  <article  class="secound_row" id = "n4">
    <h2>Little history fact</h2>
    <p>
      Figures like Einstein, da Vinci, and Michelangelo are often thought of as natural geniuses. While there's truth to that, what schools don't always emphasize is their relentless self-discipline.They placed a higher value on hard work over leisurely pursuits, ultimately enabling them to accomplish what seemed unattainable.    </p>
  </article>

  <article class="secound_row" id = "n5">
    <h2>What does the reserach say</h2>
  
        <p>
          Research has unequivocally shown that a staggering 95% of our daily behaviors are driven by habits. These ingrained routines, whether conscious or not, wield a remarkable influence over our decisions and actions, ultimately shaping the course of our lives.
        </p>
        <p>
          By recognizing the potency of habit formation, we gain the ability to consciously cultivate positive behaviors. Even small, consistent practices can lead to substantial enhancements in various facets of life, from health to career success. This knowledge empowers us to take control of our destinies through intentional action.
        </p>
      </article>
    </div>
    

    <div class="tools"> 


      <img src="{% static 'img/2nd.jpg'%}" alt="">

      

        <div class="tools-items">
        

        <p>
          
          <div class="card-contain">
            <card>
              
              <img id = "img_in_card" src="{% static 'img/confirmation.png' %}" alt="">
              <div class="card-contents">
                <h2>Tried and Tested</h2>
                <p>The Do Better program has been employed in various scenarios, consistently producing positive results.</p>
              </div>
            </card>
            <card>
              <img id = "img_in_card" src="{% static 'img/performance.png'%}" alt="">
              <div class="card-contents">
                <h2>Improve performance</h2>
                <p>Students who engage with the Do Better program frequently experience improvements in their academic achievements and are more inclined to remain enrolled in their courses.</p>
              </div>
            </card>
            <card>
              <img  id = "img_in_card"src="{% static 'img/crm.png'%}" alt="">
              <div class="card-contents">
                <h2>Improve relationships</h2>
                <p>Discover your aspirations for meaningful connections, both in your friendships and intimate relationships, through the Do Better program</p>
              </div>
            </card>
            <card>
              <img  id = "img_in_card"src="{% static 'img/goal.png'%}" alt="">
              <div class="card-contents">
                <h2>Dream big</h2>
                <p>The Do Better program is designed to help you figure out your biggest goals and provide you with the tools you need to achieve them.</p>
              </div>
            </card>
          </div>
        </p>
  
      </div>
      
         
        </div>


  <div class="about-the-program">
    
  <div id="about-me">
    <h2>About me </h2>
    <p>
      In high school, I'll admit I was a bit lazy. I focused more on parties and friends than my studies. But when the big exams were on the horizon, I made a choice to really buckle down. I used tools like calendars and to-do lists, and I pushed myself to study for five hours a day.<br><br>

      After the exams, I slipped back into my old habits, and life started to feel empty. That's when I decided to make a change. I wanted to create a plan just for me, something that would help me grow and lead to a more satisfying life.<br><br>
      
      I experimented with various techniques and applications, but ultimately, I found three elements that synergized effectively. While I still encounter obstacles in achieving my weekly and monthly objectives, these routines have simplified the process of monitoring my advancement and maintaining a steady pace.<br><br>
      
      Thanks to these routines, I've managed my studies at AGH University of Science and Technology, where I'm studying mechatronic engineering. Let me tell you, it's not an easy discipline. It's pushed me to learn more every day and gain skills beyond my classes. I've even picked up cooking, guitar playing, and programming languages, which allowed me to create and run this website.<br><br>
      
      My hope is to lend a hand to others facing similar challenges, helping them on their journey of self-improvement. I've realized that progress is the key to a happier and more fulfilling life, much more than striving for some idea of perfection.
      
    </p> 

  </div>
  
  <img src="{% static 'img/about_me.jpeg'%}" alt="">
    </div>
  </div>
</div>

{% comment %}   
    <h1 id="studenth"> 
      What students say: 
    </h1>

    <div class="opinions_all">
  <div class="opinions">
    <h3> Patryk  </h3>
    <p> ne of my biggest struggles was not knowing the entire end-to-end process for creating high quality websites. The Web Design: Become a Professional covers a lot of strategy making very clear what clients are willing to invest more money in, and how you can provide amazing value to them. I'm now more confident in what steps to take and what I need to focus on
    </p>

  </div>
  <div class="opinions">
    <h3> Patryk  </h3>
    <p> ne of my biggest struggles was not knowing the entire end-to-end process for creating high quality websites. The Web Design: Become a Professional covers a lot of strategy making very clear what clients are willing to invest more money in, and how you can provide amazing value to them. I'm now more confident in what steps to take and what I need to focus on
    </p>

  </div>

</div>
<div class="opinions">
  <h3> Patryk  </h3>
  <p> ne of my biggest struggles was not 
  </p>

</div>

</div>

   {% endcomment %}
  


  
</body>

    {% endblock %}


   
    




