{% extends 'website/header.html' %}
{% load static %}
  
{% block content %}

       

<article>
        <h2>
          Principles of the program 
        </h2>
</article>
  
     
  
  
<article>
        <p>
          How to have a clear sight of how you are doing
        </p>
      </article>

      <article>
        <h2>Ways of taking notes</h2>
        <p>
      1.Start a timer when you start learning and immediately after you stop take a note in the callendar how much hours you spent on learning 
      <p>
        2.Open a new note in which you will have how much hours are you on "-" or on "+"
        <p>
        </p>
      </article>
  
      <article>
        <h2>
          How it works on my example 
        </h2>
      </article>
  
      <article>
        <h2>My system</h2>
        <p>
        Here are 2 photos that represent my way of noting my progress. At the end of the day I count "+" and "-" and update my status in the notes.
      
        </p>
      <img src = "{% static 'img/1.jpg' %}"/>
      <img src = "{% static 'img/2.jpg' %}"/>
      </article>
  
      <article>
        <p>
          Summary  
        </p>
      </article>
  
      <article>
        <h2></h2>
        <p>
         I hope that my program will help you become better student and good louck.
        </p>
      </article>

    
      {% endblock %}