{% extends 'website/base.html' %}
{% load static %}
{% comment %} <h1> Login <h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="login"
</from>

<p> Don't have an account? <a href="{% url 'register' %}"> register </a></p>  {% endcomment %}



{% block content %}


<div class="center-wrapper">

<div class="card-body">
    <a id='cool' href="{% url 'introduction' %}"> <h1> do better </h1> </a>
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password }}
        
        <input class="custom-button" type="submit" value="Login">

    </form>
    <p>Don't have an account?  &nbsp; <a id = "hover" href="{% url 'register' %}"> Register</a></p>
</div>
</div>
{% endblock %}