{% extends 'website/base.html' %}
{% load static %}
{% comment %} <h1> Register <h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"
    </from>
    
    <p> Already have an account? <a href=""> Login </a></p> {% endcomment %}

  

    {% block content %}

    <div class="center-wrapper">

    <div class = "register_form">
        <div class="card-body">
            <a id='cool' href="{% url 'introduction' %}"> <h1> do better </h1> </a>

    <div class="header-bar">
        <h2>Register</h2>
    </div>
    
   
        <form method="POST">
            {% csrf_token %}
            <label>{{form.username.label}}</label>
            {{form.username}}
    
            <label>{{form.password1.label}}</label>
            {{form.password1}}
    
            <label>{{form.password2.label}}</label>
            {{form.password2}}
            <input class="custom-button" type="submit" value="Register">
        </form>
        <p>Already have an account?  &nbsp; <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
</div>
    
    
    {% endblock content %}