:root {
	--ParentBg: #479AD0;
	--Color: #000000;
	--Bg: #7CB9E2; 
	--Inter: #753F83;
  }

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}

body  {
	background-color: var(--ParentBg)
}

/* GET YOUR LIFE IN ORDER */

.title {
	margin-top: 0px;
	position: relative;
	text-align: center;
	height: 900px;

	/* z-index: -1; */
}

.title img {
	height: 900px;
	width: 100%;
	
}

.title h2{
	color: white;
}
.text-in-img {
	
	position: absolute;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* GET YOUR LIFE IN ORDER END */

/* GEETING STARTED */

.getting-started {
	
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;

}

.getting-started img {
	height: 800px;
	width: 1100px;
	border-radius: 30px;
	
}

.getting-started h2 {
	margin-top: 50px;
}



/* GEETING END */

/* FACTS IMPROVMENT FUTURE */

.three-icons {
	display: flex;
	margin-bottom: 50px;
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
	
}

.div-content {
	margin: auto 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icons {
    width: 10em;
	height: 10em;
	justify-content: center;
	margin-bottom: 20px;
    /* margin-right: 1em; */
}

/* FACTS IMPROVMENT FUTURE END */

/* ABOUT THE PROGRAM */

.about-the-program{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: var(--Bg);
	border-radius: 10px;
  }

 

.about-the-program h2{
	text-align: left;
	/* margin-top: 30px; */
	margin-bottom: 10px;
	margin-left: 100px;
}

.about-the-program h3{
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}



.about-the-program img{
	width: 500px;
	height: 500px;
	border-radius: 10px;
	margin-top: auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: auto;

}

.about-the-program p{
	margin-left: 50px;
	/* margin-right: 20px; */
	margin-bottom: 10px;
}

#about-the-program{
	
	float:right;
	margin-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

/* ABOUT THE PROGRAM END*/

/* TOOLS */

.tools{
	display: flex;
	flex-direction: row;
	justify-content: left;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 200px;
	margin-right: 200px;
	padding: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: var(--Bg);
	border-radius: 10px;
  }

  .tools-items {
	margin: auto;
  }

.tools img{
	width: 500px;
	height: 500px;
	border-radius: 10px;
	margin-top: auto;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: auto;
}

.card-contain{
	flex-direction: column;
	
}

card {
    display: flex;
}

#img_in_card {
	display: flex;
    width: 60px;
	height: 60px;
    float: left;
    margin-right: 1em;
	margin-top: auto;
	margin-bottom: auto;
}

.card-contents > h2,
.card-contents > p {
	float: left;
}


.card-contents h2{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

.card-contents p{
	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 30px;
	margin-left: 0px;
	
}


  

   .bento-grid {
	display: flex;
	column-gap: 20px;
	margin-left: 50px;
	margin-right: 50px;
  }

.column-left,
.column-right {
  width: 50%;
}

.column-right {
  display: flex;
  flex-direction: column;

}
  
  .row-1 {
	border-radius: 10px;
	background-color: var(--Bg);
	padding: 20px;
	box-sizing: border-box;
	height: 280px;
	margin-bottom: 20px;
  }
  
  .row-2 {
	border-radius: 10px;
	background-color: var(--Bg);
	padding: 20px;
	box-sizing: border-box;
	height: 400px;
  }
  
  .bento-grid article {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

  }

  article p {
	margin-left: 0px;
  }
  
  
  
  #n1 {
	height: 420px;
	width: 900px;
  }
  
  #n2,
  #n3 {
	height: 200px;
	width: 880px;

	margin-bottom: 0px;

  }
  
  .row2{
	display: flex;
	flex-direction: row;

  }
  .secound_row {
	display: flex;
	column-gap: 20px;
	margin-left: 50px;
	padding: 20px;

	border-radius: 10px;
	background-color: var(--Bg);
	box-sizing: border-box;
	height: 280px;
	margin-bottom: 20px;

	flex-direction: column;


  }
  #n4 {
	height: 230px;
	width: 30%; 
  }
  #n5 {
	height: 230px;
	width: 70%; 
	margin-left: 20px;
	margin-right: 50px;
  }
  
  
  
  
  

/* Additional styles for articles if needed */

#n1 {
    grid-column: span 1;
    grid-row: span 1;
}

#n2 {
    grid-column: span 2;
    grid-row: span 1;
	margin-bottom: 20px;
}

#n3 {
    grid-column: span 2;
    grid-row: span 1;
}

#n4 {
    grid-column: span 2;
    grid-row: span 2;
}

#n5 {
    grid-column: span 1;
    grid-row: span 2;
}


/* MOTIVATION IS ILUSIN ETC END */
.about-me{
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin: 120px;
  }

.about-me h2{
	text-align: center;
	margin-bottom: 10px;
}

.about-me img{
	width: 500px;
	height: 500px;
}
  
#about-me{
	float:right;
	margin-top: 0;
	margin-right: 20px;
}

/* HEADER CSS */

nav {
	background: linear-gradient(to left,#563693,#6d28a6);	
	/* background-image: linear-gradient(to right, #7d1190, #662c97, #4e3a9a, #354399, #174995);} */

/* In CSS, ::after creates a pseudo-element that is the last child of the selected element.
 It is often used to add 
cosmetic content to an element with the content property. It is inline by default. */
}
nav:after{
	content: '';
	display: block;
	clear: both;
}

nav h2 {
	color: var(--Color);
	float: left;
	padding: 15px;
	margin-left: 150px;
}

nav h2:hover {
	color: var(--ParentBg);

}
nav:first-child {
	margin-top:auto;
}

.links {
	margin-right: 150px;
	float: right;
	color: var(--Color);
}

.links li {
	display: inline-block;
	list-style: none;
	position: relative;
}

.links li a{
	display: inline-block;
	color: var(--Color);
	padding: 20px;
	text-decoration: none;
	font-weight: 1000;
	font-size: 17px;
	cursor: pointer;

}



.links a .item1:hover {
    color: var(--ParentBg);
}

.links a .item2:hover {
    color: var(--ParentBg);
}

.links a .item3:hover {
    color: var(--ParentBg);
}

.links a .item4:hover {
    color: var(--ParentBg);
}

.links a .item5:hover {
    color: var(--ParentBg);
}

.links a .item6:hover {
    color: var(--ParentBg);
}

.links a .item7:hover {
    color: var(--ParentBg);
}

.links a .item8:hover {
    color: var(--ParentBg);
}


.links li:hover .dropdown{
	display: block;
}

.dropdown {
	background: #111;
	position: absolute;
	display: none;
	/* top: 57px; */
	left:  0px;
	width: 150px;
}

.dropdown li{
	border: 2px solid #222;
	display: block;
	color: #fff;
}

.dropdown-link:hover .dropdown-2{
	display: block;
}

.dropdown-2 {
	background: #111;
	position: absolute;
	display: none;
	top: 0px;
	left: 148px;
	width: 150px;
	
}

/* HEADER CSS END */

/* OPINIONS CSS  */

.opinions_all {
	display: flex;
	flex-direction: row;

	
}

.opinions {
	
    position: relative;
    z-index: 2;
    width: 30%;
    padding: 57px 0 57px 30px;
	background-color: var(--Bg);
	margin-bottom: 20px;
	min-width: 300px;
	margin-right: 20px;

}
#studenth{
	text-align: center;
}



/* OPINIONS CSS END */

/* DAIRY CSS */

.dairy_entry {
	width: 70%;
	height: 200px;
	
}

.dairy_entry_R {
	background-color: red;
}

.dairy_entry_B {
	background-color: blue;
}

.dairy_entry_G {
	background-color: green;
}

.dairy_entry_D {
	background-color: var(--Bg);
}

.btn {
	width: 80px;
	height: 50px;
	background-color: lightblue;
	color: black;
	border: 2px solid blue; 
	transition-duration: 0.4s;
  }

  .btn:hover {
	background-color: violet; 
	color: white;
  }

  .create_dairy textarea {

	background-color: var(--Bg);
	


  }

/* DAIRY CSS END */



/* INTRO */

.intro {
	top: 0;
	text-align: center;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%; 
    animation: fadeout 8s;
    animation-fill-mode: forwards; 
    background: #000;
}

.intro span{
	text-transform: uppercase;
	display: block;
}

.text1{
color: white;
font-size: 60px;
font-weight: bold;
letter-spacing: 8px;
margin-bottom: 20px;
background: black;
position: relative;
animation: text 3s;
}

.text2{
    font-size: 30px;
    color: aqua;
}

@keyframes text {
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
    }

    @keyframes fadeout {
        from  {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
	
	/* INTRO END */

.register_form h1, label, p, input {
	display: flex;

	margin: 10px;

	
	}
	
/* 
	aposmdsopamdpoasdposadpsaodopsadsapod
	opsamdsaodamd
	opsamdpsamodpoad
	poasmdpsamdpamdp
	asdmasdpasd */

	.center-wrapper {
		height: 100vh; /* 100% of the viewport height */
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.card-body {
		
		padding: 20px;
		border-radius: 8px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--Bg);
	}
	.card-body  a {
		text-decoration: none;
		color: inherit;
	
	}
	.card-body  h1:hover {
		color: var(--ParentBg);
	
	}

	.card-body h1 {
		margin-bottom: 10px;
	}

	.card-body  p a:hover {
		color: var(--ParentBg);
	
	}
	
	.custom-input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	.custom-button {
		margin-top: 20px;
		width: 500px;
		background-color: var(--ParentBg);
		color: #fff;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		cursor: pointer;
		display: flex; /* Set the input element as a flex container */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */

		font-size: 16px;

	}
	
	.custom-button:hover {
		background-color: #0056b3;
	}



input[type="text"],
input[type="password"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}